.cards-projetos {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 5rem;
}

.card-projetos {
    background-color: purple;
    color: white;
    width: 25%;
    border: purple 1px solid;
    padding: 2rem;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(128, 0, 128, 0.5);
}

.card-projetos p {
    margin-top: 2rem
}
.card-projetos h1 {
    margin-bottom: 2rem;
}

.card-projetos:hover {
    background-color: transparent;
    border: purple 1px solid;
    color: purple;
    transition: .7s;
}

.card-projetos a {
    background-color: white;
    padding: 1rem;
    border-radius: 20px;
}

.card-projetos a:hover {
    background-color: transparent;
    border: purple 1px solid;
    transition: .7s;
    color: white;
    font-size: 23px;
}